@font-face {
    font-family: 'God of War';
    src: url('/fonte/GODOFWAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
    
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.header__container, .main__container, .footer__container {
    padding: 10px;
    text-align: center;
}
.header__container{
    background-color: #333;
    color: #fff;
    flex: 1;
    font-family: 'God of War';
    
}
.header__title{
    text-shadow: #000 1px 1px 2px;

}
.main__container{
    background-color: #fff;
    color: #000;
    flex: 9;
}
section{
    margin: 20px;
}
.main__section-form > p{
    font-size: smaller;
    color: gray;

    margin-top: 0px;
}
.main__input[type="text"], input[type="number"]{
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.main__button{
    padding: 5px;
    width: 100px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.main__button:hover{
    background-color: #555;
}
label{
    display: block;
    margin-bottom: 5px;
    font-size:large ;
}
.div__result {
    margin-bottom: 20px;
    padding: 20px;
    height: 105px;
    width: 200px;
    margin: auto;
    background-image: url(Imagens/CardBandsSmaller.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.div__result p {
    color: red;
    font-weight: bold;
}
.h3__section-band{
    display: inline;
}
.footer__container{
    background-color: #333;
    color: #fff;
    flex: 0.3;
    
}
.footer__text{
    font-family: 'God of War';
    text-shadow: #000 1px 1px 2px;
    display: inline;
}
.footer__link{
    color: #55dfe4;
    text-decoration: none;
}
.footer__link:hover{
    text-decoration: underline;
    color: #55e4a8;
}

